* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site_header {
    background-color: blue;
    height: 300px;
}

.nav_section {
    background-color: aqua;
    height: 50px;
    display: flex;
}

.nav_bar {
    background-color: rgb(255, 251, 0);
    height: 40px;
    width: 70vw;
    margin: auto;
    align-items: center;
    display: flex;
}

.logo-section {
    width: 20%;
    height: 100%;
    border: 2px dotted black;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.link_bar {
    width: 60%;
    height: 100%;
    border: 2px dotted black;
    display: flex;


}

.link_container {
    width: 40%;
    margin: auto;
    display: flex;
}

ul li {
    list-style: none;
}

ul {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

li {
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

.form_log {
    width: 20%;
    height: 100%;
    border: 2px dotted black;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
}

.banner {
    height: calc(100% - 50px);
    display: flex;
    align-items: center;

}

.banner_content {
    margin: auto;
    width: 50%;
    height: 200px;
    border: 2px dotted black;
    background-color: palevioletred;
}

/*---------------- /header -----------------*/

.section {
    height: 400px;
    display: flex;
    align-items: center;
}

#up {
    background-color: grey;
}

#bottom {
    background-color: grey;
    height: 600px;
}


.section_content {
    background-color: green;
    margin: auto;
    width: 70%;
    height: 350px;
    display: flex;
}

.large {
    height: 550px;
}

.img {
    border: 2px dotted black;
    width: 40%;
    height: 100%;
    background-color: pink;
}

.description {
    border: 2px dotted black;
    width: 60%;
    height: 100%;
    background-color: lightblue;
}

/*----------------  /main --------------*/



.footer_container {
    height: 440px;
    background-color: rgb(45, 45, 45);
    padding-top: 10px;

    display: flex;

}

.footer_content {
    height: 400px;
    width: 70%;
    margin: auto;
    background-color: coral;
    display: flex;

}

.large_column_footer {
    flex-grow: 1.5;
    height: 100%;
    border: 2px dotted black;
}

.column {
    flex-grow: 1;
    height: 100%;
    border: 2px dotted black;
    background-color: aquamarine;
}

.footer_nav {
    background-color: rgb(45, 45, 45);
    border-top: 3px solid gray;
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.footer_bar {
    margin: auto;
    width: 70%;
    height: 40px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo,
.button {
    border: 2px dotted black;
    background-color: pink;
    padding: 3px;
}